a { padding:0; }

body {
  background-color:#dad0c7;
}

#header #title {
  text-align:center;
}

#header h1 {
  margin:28px 0 18px;
  font-size:62px;
  text-shadow: 1px 1px 3px #999;
}
#header h1 a {
  color: #000;
  text-decoration:none;
}

#content {
  width:600px;
  margin-bottom:20px;
  margin-right:10px;
  border:1px solid #999;
  padding:10px 12px 10px 18px;
  -moz-border-radius: 10px;
  webkit-border-radius: 10px;
  border-radius: 10px;
  background-color:#fff;
}
#side {
  width:300px;
  margin-right:0;
}

#navi a:link, #navi a:visited {
  color:#59444d;
  text-decoration:none;
}
#navi a:hover {
  text-decoration:underline;
}
#navi {
  font-size:16px;
  border:1px solid #999;
  -moz-border-radius: 5px;
  webkit-border-radius: 5px;
  border-radius: 5px;
  padding:4px;
  background-color:#fff;
  margin-bottom:20px;
}

#navi ul {
  list-style:none;
  padding:0;
  margin:0 auto;
  width:900px;
}

#navi ul li {
  padding:0;
  margin:4px 60px 2px;
  float:left;
}

.entry {
  margin-bottom: 8px;
}
.entry p {
  margin:5px 0 10px 0;
}
.entry-image {
  float:left;
}
.entry-image img {
  padding:1px;
  border:1px solid #ccc;
  margin-right:10px;
}
.entry h3, .entry h2 {
  font-size:16px;
  line-height:150%;
}
.entry h3 a:link, .entry h2 a:link { color:#59444d; }
.entry h3 a:hover, .entry h2 a:hover { color:#583b35; }
.entry h3 a:visited, .entry h2 a:visited { color:#607499; }
.entry-tweet {
  padding:1em;
  border:1px solid #bbb;
  background-color:#ccc;
  -moz-border-radius: 5px;
  webkit-border-radius: 5px;
  border-radius: 5px;
}
.entry-tweet img {
  background-color:#fff;
  float:left;
  margin:5px 10px 0 0;
  border:1px solid #ccc;
}
.entry-tweet p {
  margin:0;padding:0;
  vertical-align:top;
}

.tweet-count {
  font-weight:bold;
}

.tweets {
  margin-top:10px;
  border-top:1px solid #ccc;
  padding-top: 20px;
}

.tweets .entry-tweet {
  margin-bottom:10px;
}

#pager {
  font-size:20px;
  margin-bottom:20px;
  text-align:center;
}
#pager a {
  margin-right:2em;
}

#footer a {
  color:#000;
}

.side-widget {
  border:1px solid #ccc;
  background-color:#fff;
  padding:10px 20px;
  margin-bottom:20px;
}

#fake-ad {
  width:200px;
  height:200px;
  margin:0;
  padding:0;
  background-color:#999;
}

.clear {
  clear:both;
}
